* {
    font-family: cabin;
}

/* .body {
    width: 100%;
} */

.header {
    /* width: 100%; */
    background-color: #EEEEEF;
    position: sticky;
    top: 0;
    z-index: 100;

}

.logo-backet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* s */
    padding: 16px 52px;
    background: #6D91DC;
    margin: 0 auto;
}

.website-name {
    font-family: rochester;
    font-style: italic;
    color: #F8FDFE;
    font-size: 28px;
}

.left-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.right-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.cart-button {
    width: 40px;
    height: 40px;
    background: #6D91DC;
    position: relative;
    border-style: none;

}

.cart-image1 {
    position: fixed;
    top: 57x;
    right: 65px;
    z-index: 2;
}

.cart-image2 {
    position: fixed;
    top: 47px;
    right: 72px;
    z-index: 2;
}

.zero-cart {
    position: fixed;
    color: #F8FDFE;
    top: 54px;
    right: 78px;
    z-index: 3;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
}

.price-summary {
    line-height: 24px;
    font-size: 16px;
    color: #F8FDFE;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1296px; */
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 24px;
    background-color: white;
}

.second-part-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu-part {
    line-height: 24px;
    font-size: 16px;
}

.menu-links {
    text-decoration: none;
    color: black;
}

.main {
    background-color: #EEEEEF;
}

.site-title {
    font-size: 32px;
    color: #1F1F1F;
    font-weight: 600;
    line-height: 40px;
    padding: 32px 0;
    margin: 0 0;
    border-bottom: 1px solid #A8A8A8;
    background: #EEEEEF;
    margin-left: 52px;
    margin-right: 52px;

}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

section {
    /* width: 100%; */

}

.contact-details {
    display: flex;
    flex-wrap: nowrap;
    margin: 56px 162px 0px;
    padding-bottom: 121px;
    gap: 134px;

}

.contact-details-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-elements {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-elements input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
}

/* .contact-elements input {
    display: flex;
    flex-direction: column;
    gap: 8px;s
} */

.contact-elements:active input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
    border: 1.5px solid #2080F6;
    background: #F5F5F5;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}





.rest-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}



.delivery {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#deliverys,
#comment {
    width: 416px;
    height: 104px;
    padding: 10px;

}

.years {
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 19px;
}

.form-names.radio-text1 {
    margin-bottom: 3px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.radio-text1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 24px;
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.first-radio-margin {
    margin-bottom: 24px;
}


.order {
    display: flex;
    padding: 40px;
    flex-direction: column;
    gap: 32px;
    background-color: #F5F5F5;
    margin-bottom: 808px;
}

.order-sushi {
    display: flex;
    gap: 24px;
    
}

.img-sushi {
    width: 165px;
    height: 120px;
}

.number {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
}

.prices.margin {
    margin-block-start: 0;
    margin-block-end: 0;
}

.sashimi {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 3px;
    border-bottom: 1px solid #A8A8A8;
    margin: 0;
}

.portions {
    padding-top: 3px;
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0px 0px 8px;
}

.checkbox-container {
    margin-bottom: 16px;
}

.total-sum {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 10px;
    border-top: 1px solid #A8A8A8;
    margin-top: 8px;
    align-items: center;
}

.agreement {
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.button {
    padding: 8px 24px;
    margin-right: 16px;
    width: 215px;
    border-radius: 4px;
    border-color: transparent;
    background: #3D76BA;
    color: #F8FDFE;
}

.button:hover {
    padding: 8px 24px;
    margin-right: 16px;
    width: 215px;
    border-radius: 4px;
    border-color: transparent;
    background: #63A1EB;
    color: #F8FDFE;
}

.reset-button {
    padding: 8px 24px;
    width: 215px;
    border-color: transparent;
    border-radius: 4px;
    background: #DEDEDE;
}

.reset-button:hover {
    padding: 8px 24px;
    width: 215px;
    border-color: transparent;
    border-radius: 4px;
    background: #EEE;
}

.form-names {
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.contact-elements label {
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.contact-elements input {
    padding: 10px;
    color: #8E8E8E;
    font-family: Cabin;
    font-size: 16px;
    line-height: 24px;
}

.prices {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
}

.form-names.total {
    padding-top: 8px;
    border-top: 1px solid black;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6D91DC;
    padding: 32px 52px;
}

.footer-elements {
    color: #F8FDFE;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}